/* All Fonts On All Webpages */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.centered {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0px;
  text-align: center;
  font-size: 10px;
}

/* ........................................................................................... */

/* Navigation Menu */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: smaller;
  font-weight: bold;
  border-radius: 10px;
}

.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 60px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
}

/* ........................................................................................... */

/* Homepage */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homepage h1,
.homepage h2 {
  text-align: center;
}

/* ........................................................................................... */

/* Images */
img {
  max-width: 1000px;
  height: auto;
}

/* ........................................................................................... */

/* Add Product Form */
.add-product-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-form .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-product-form label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
}

.add-product-form input,
.add-product-form select,
.add-product-form textarea {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;   
  border-radius: 4px;
}

.add-product-form select {
  width: 210px;
}

.add-product-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.add-product-form .form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.add-product-form label {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
}

/* ........................................................................................... */

/* Product Page Form */

.add-product-form input,
.add-product-form select,
.add-product-form textarea {
  width: calc(100% - 12px);
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.add-product-form button[type="submit"] {
  width: 100%;
  margin-top: 20px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-product-form button[type="submit"]:hover {
  background-color: rgb(222, 9, 9);
}

.add-product-form input[type="number"],
.add-product-form textarea,
.add-product-form select,
.add-product-form input[type="text"] {
  width: 100%;
}

.add-product-form input[type="checkbox"] {
  width: auto;
  margin-left: 5px;
}

.add-product-form label.checkbox-label {
  display: flex;
  align-items: center;
}

.add-product-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.add-product-form .form-error {
  color: red;
  margin-top: 5px;
}

/* ........................................................................................... */

/* Edit Button Link > Update Product Destination Page */

.add-product-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-product-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.add-product-form .form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 400px;
  height: 60px;
}

.add-product-form label {
  width: 100%;
  text-align: center;
  margin-right: 0;
}

.add-product-form input,
.add-product-form select,
.add-product-form textarea {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-product-form select {
  width: 100%;
}

.add-product-form button[type="submit"] {
  width: 100%;
  margin-top: 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-product-form button[type="submit"]:hover {
  background-color: rgb(222, 9, 9);
}

.add-product-form input[type="text"],
.add-product-form input[type="number"],
.add-product-form select,
.add-product-form textarea {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-product-form textarea {
  height: 100px;
}

.add-product-form {
  margin-top: 10px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-form input,
.add-product-form select,
.add-product-form textarea {
  text-align: center;
}

.add-product-form button[type="submit"]:hover {
  background-color: red;
}

/* ........................................................................................... */

/* View Button Link > Edit Product Destination Page */

/* Centered Details On Page */
.centered .details {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh; /* Change height to min-height */
  border-radius: 10px;
  box-sizing: border-box; /* Include padding in height calculation */
  margin: 10px auto;
  width: 400px; /* Set the desired width of the box */
}

/* Vertical Spacing of Text */
.centered .details li {
  margin-bottom: 20px;
}

/* Headings Above Details */
.centered .details li strong {
  display: block;
  margin-bottom: 5px;
}

/* Edit Button */
.centered .edit-link {
  background-color: #000000;
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  position: relative;
  width: 300px;
}


/* Hover Color > Hover Button */
.centered .edit-link:hover {
  background-color: red;
}

/* ........................................................................................... */

/* Inventory Table */

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.inventory-table th {
  background-color: #000000;
  color: white;
  font-size: small;
}

.inventory-table td.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Delete Button */
.inventory-table .delete-button {
  width: 100px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(222, 9, 9);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}

/* View & Edit Button */
.inventory-table .view-button,
.inventory-table .edit-button {
  width: 100px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}

/* Hover Color > Delete Button */
.inventory-table .delete-button:hover {
  background-color: rgb(102, 99, 99);
}

/* Hover Color > View & Edit Buttons */
.inventory-table .view-button:hover,
.inventory-table .edit-button:hover {
  background-color: rgb(222, 9, 9);
}

/* Selects The <th> Elements Within The "inventory-table" Class */
/* Selects The <td> Elements Within The "inventory-table" Class */
.inventory-table th,
.inventory-table td {
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* Remove The Table Headings Background Block Color */
.inventory-table th {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: small;
}

/* Font Size > View & Edit Buttons */
.inventory-table .view-button,
.inventory-table .edit-button {
  font-size: 14px;
}

/* ........................................................................................... */

/* Manufacturers Page */

.manufacturers-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.manufacturers-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.manufacturers-list li {
  max-width: 450px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.manufacturers-list h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #333;
  font-size: 18px;
}

.manufacturer-details {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.manufacturer-details li {
  margin-bottom: 2px;
  font-size: 14px;
  color: #000000;
  text-align: center;
}

.manufacturer-details strong {
  font-weight: bold;
}

.manufacturer-details a {
  color: red;
  text-decoration: none;
}

.manufacturer-details a:hover {
  text-decoration: underline;
}
